:root {
    --dark-purple: rgb(42, 33, 49);
    --med-gray: rgb(182, 182, 182);
    --card-bg: rgb(87, 74, 100);
  }

hr {
    width: 99%;
}

.body-block {
    display: flex;

}

.body-block .empty-div {
    flex-grow: 1;
}

.body-block .text-block {
    flex-basis: 50%;
}

#projects-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-cards-div {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--med-gray);
    width: fit-content;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: 3px 3px 0px rgba(255, 255, 255, 0.8);

}



img {
    height: 200px;
    border-radius: 10px;
}

#footer {
    margin-top: 25px;
}

#footer-text {
    margin: 25px 0 0 25px;
    padding-bottom: 25px;
}

a {
    color: var(--med-gray);
    transition: 0.3s;
}

a:hover {
    color: white;
    transition: 0.3s;
}

@media (max-width: 900px) {
    #projects-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 99vw;
    }

    #project-cards-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}