:root {
    --dark-purple: rgb(42, 33, 49);
    --med-gray: rgb(182, 182, 182);
  }

.body-block {
    display: flex;

}

.body-block .empty-div {
    flex-grow: 1;
}

.body-block .text-block {
    flex-basis: 50%;
}

#projects-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#project-cards-div {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--med-gray);
    width: fit-content;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}