:root {
  --dark-purple: rgb(42, 33, 49);
  --med-gray: rgb(182, 182, 182);
}

.App {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  min-height: 100vh;
}

body {
  background-color: var(--dark-purple);
  color: var(--med-gray);
}