:root {
  --soft-purple: rgb(85, 67, 100);
  --med-gray: rgb(182, 182, 182);
}

.App {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  min-height: 100vh;
}

body {
  background-color: var(--soft-purple);
  color: var(--med-gray);
}